<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyxtqPKS6eoyRvsSm7VNI2GHCi2ERyR4U</string>
	<key>GCM_SENDER_ID</key>
	<string>743260252436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodcode.gloddy</string>
	<key>PROJECT_ID</key>
	<string>guesung-exerciseinformation</string>
	<key>STORAGE_BUCKET</key>
	<string>guesung-exerciseinformation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743260252436:ios:e52ff7c145d907397b7a01</string>
	<key>DATABASE_URL</key>
	<string>https://guesung-exerciseinformation-default-rtdb.firebaseio.com</string>
</dict>
</plist>